/* Bootswatch customizations */

.nav-bar {
  padding: 0.5rem 1.5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
}

.nav-bar-logo {
  width: 6em;
}

.nav-container {
  max-width: 1280px;
  margin: 0 auto;
}

.error-message-padding {
  padding-top: 2em;
  padding-bottom: 1em;
}

.mr-2 {
  margin-right: 2.5rem !important;
  margin-bottom: 0;
  font-size: 1.3em;
  vertical-align: middle;
}

.container {
  max-width: 1280px;
  padding-top: 85px;
  box-shadow: 0 0 3px 0px #dadada;
  height: 100vh;
}

.page-title {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

hr {
  margin-bottom: 3em;
}

a:-webkit-any-link {
  text-decoration: none;
}

.card {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a .card:hover {
  background-color: #d7eaec;
}

.card-body-image {
  padding: 0;
}

.card-body-image img {
  max-width: 100%;
}
