/* Colors */

.moonstone-blue {
    background-color: #6fb5ba;
}
.light-blue {
    background-color: #8CD3E2;
}

.dark-space {
    background-color: #4C5C68;
    color: #ffffff;
}

.lavender-gray {
    background-color: #D3CDD7;
    border: 1px solid #D3CDD7;
}
